In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('data/census_aggregated.csv', sep='\t')

In [9]:
print(df.groupby('state')['count'].aggregate('sum'))

state
Alabama            3977157
Alaska              583607
Arizona            5660889
Arkansas           2417443
California        32010232
Colorado           4563299
Connecticut        2986131
Delaware            793492
Florida           17513896
Georgia            8351891
Hawaii             1168207
Idaho              1350174
Illinois          10409225
Indiana            5365909
Iowa               2536704
Kansas             2322784
Kentucky           3615144
Louisiana          3760024
Maine              1127705
Maryland           4939542
Massachusetts      5739581
Michigan           8181364
Minnesota          4505985
Mississippi        2392840
Missouri           4962509
Montana             859919
Nebraska           1522156
Nevada             2428430
New Hampshire      1133872
New Jersey         7377894
New Mexico         1683249
New York          16407875
North Carolina     8377534
North Dakota        608452
Ohio               9517734
Oklahoma           3131629
Oregon             3418654
Pennsylvania      10608985
Rhode Island        889799
South Carolina     4108940
South Dakota        691169
Tennessee          5465945
Texas             22164250
Utah               2329200
Vermont             529044
Virginia           6919304
Washington         6023034
Washington, DC      585462
West Virginia      1507505
Wisconsin          4733883
Wyoming             462817
Name: count, dtype: int64